.cover {
  height: 120px;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    opacity: 0.6;
  }

  &.has-image mat-icon {
    display: none;
  }
}
